<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sandbox</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <h1>Sandbox</h1>
      <form id="form" class="search">
        <p>Search here</p>
        <input type="text" id="input" />
        <button id="submit" type="submit"></button>
      </form>
    </main>
    <script src="/app.js"></script>
  </body>
</html>
